<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Course Name</th>
        <th>Duration</th>
      </tr>
    </thead>
    <tbody>
        <% courses.forEach(course =>{ %>
            <tr>
                <td>
                  <a href="/course/<%= course.id %>"> <%= course.id %> </a>
                </td>    
                <td>
                  <a href="/course/<%= course.title %>"> </a> <%= course.title %> </a>
                </td>    
                <td>
                  <a href="/course/<%= course.duration %>"></a> <%= course.duration %> </a>
                </td>
                <td>
                  <a href="/deletecourse/<%= course.id %>"> Delete </a>
                </td>
                <td>
                  <a href="/editcourse/<%= course.id %>"> Edit </a>
                </td>
            </tr>
        <% }) %>
    </tbody>
  </table>